.contact{
    display: none;
}
.s12{
    background-size: cover;
    background-position: none;
}
.services{
    width: 95%;
}
header>ul{
    display: none;
}
.menu{
    display: flex;
}
.menu_elements{
    display: none;
}
.header_left{
    margin-right: auto;
}
.cont a{
    padding: 3% 2%;
}
.contact_details{
    height: 60%;
}
.social_med{
    justify-content: center;
}
